extends layout
block content
    h1= title
    if (toShow == null)
        h2 No instance to view update
    else
        - let houseid = toShow._id
        - let house_room = toShow.house_room
        - let house_area = toShow.house_area
        - let house_rent = toShow.house_rent

        div.row(class='mb-2')
            div.mr-1 ID is
            div #{houseid}
        - let actionid = "/resource/house/" + houseid
        form(id='gooogleForm', action= actionid, method="PUT")
            div.form-group
                label.houseAttr(for='house_rooms') house rooms
                input#house_rooms(type='number', name='house rooms', value= house_rooms )
            div.form-group
                label.houseAttr(for='house_area') house size
                input#house_area(type='text', name='house_area', value= house_area )
            div.form-group
                label.houseAttr(for='house_rent') house cost
                input#house_rent(type='number', name='house_rent', value= house_rent )
            input(type="submit")
        script.
            document.forms['houseForm'].addEventListener('submit', (event) => {
            event.preventDefault();
                // TODO do something here to show user that form is being submitted
                fetch(event.target.action, {
                method: 'PUT',
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form
                }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
                }).then((body) => {
                alert("Update succeded")
                // TODO handle body
                }).catch((error) => {
                // TODO handle error
                alert("Update failed " + error )
                 });
                });